.body {
	margin: 0;
	padding: 0;
	background: url("wallpaper.jpg") no-repeat top center fixed;
}

.div::before {
	content: " Veja teu nome ao contrário ";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
    text-align: center;
}

.div {
	background-color: #fff;
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

.form {
	margin-top: 20px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #000;
}